version: "3.8"

services:
  garage:
    container_name: garage
    build:
      context: .
      dockerfile: Dockerfile
    image: garage:latest
    ports:
      - "8090:8090"
    restart: unless-stopped
    networks:
      - shared-network

networks:
  shared-network:
    external: true