[Unit]
Description=Garage Door Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/garage

[Install]
WantedBy=multi-user.target